@charset "UTC-8";

:root {
    --cor1: #FCFCFC;
    --cor2: #BDBDBD;
    --cor3: #7D7D7D;
    --cor4: #707070;
    --cor5: #575757;
    

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
}



body {
background-color: var(--cor2);

}

h1.titulo {
    font-size: 40px;
    font-style: italic;
    margin: 100px;
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
}

div.login {
    margin: 100px;
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
}

.menu {
display: inline-block;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-size: 12px;
/*border-radius: 10px;
border: 3px solid;*/
text-align: center;
padding: 10px;
font-family: var(--fonte-padrao);
color: black;
}


nav a:hover{
    text-decoration: underline;
    transition: 0.2s;
    border-radius: 10px;
    border: 3px solid black;
    
}
.menu img {
    width: 90px;
    height: 90px;
    padding: 0px;
    
}

nav {
    margin: 300px;
    border-radius: 10px;
    
}