@charset "UTC-8";

:root {
    --cor1: #FCFCFC;
    --cor2: #BDBDBD;
    --cor3: #7D7D7D;
    --cor4: #707070;
    --cor5: #575757;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
}



body {
background-color: var(--cor2);
}

h1.titulo {
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
}

div.login {
    text-align: center;
    color: white;
    font-family: var(--fonte-padrao);
}